<h1>Products</h1>

<% if @products.blank? %>
    <p>There are not any Product currently in the system.</p>

<% else %>


    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Show</th>

      </tr>
      </thead>
      <tbody>


      <% @products.each do |product| %>
               <% p '============================' %>
          <% p product %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category.name %></td>
            <td><%= product.brand.name %> </td>
            <td><%= product.price %></td>
            <td><%= link_to 'show', admin_product_path(product) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>