<h1> Edit Product</h1>

<%= form_for(@product) do |f| %>

    <% if @product.errors.any? %>
        <div id="error_explanation">

          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>

        </div>
    <% end %>
    <div style="float: right">
      <%= image_tag @product.image_url.to_s %>

    </div>
    <div>

      <table>

        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :brand %></td>
          <td><%= select_tag "brand", options_from_collection_for_select(@brands, "id", "name", :selected => @product.brand_id) %></td>
        </tr>
        <tr>
          <td><%= f.label :category %></td>
          <td><%= select_tag "category", options_from_collection_for_select(@categories, "id", "name", :selected => @product.category_id) %></td>
        </tr>
        <tr>
          <td><%= f.label :price %></td>
          <td><%= f.text_field :price %> </td>
        </tr>
        <tr>
          <td><%= f.label :image %> </td>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <td><%= f.label :gender %></td>
          <td>
            <% for g in Admin::Product::GENDER %>
                <% if g == @product.gender %>
                    <%= radio_button_tag "gender", g, :checked => true %> <%= g %>
                <% else %>
                    <%= radio_button_tag "gender", g %> <%= g %>
                <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :size %></td>
          <td>
            <% for s in Admin::Product::SIZE %>
                <% if s == @product.size %>
                    <%= radio_button_tag "size", s, :checked => true %> <%= s %>
                <% else %>
                    <%= radio_button_tag "size", s %> <%= s %>

                <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :color %></td>
          <td>
            <% for c in Admin::Product::COLOR %>
                <% if c == @product.color %>
                    <%= radio_button_tag "color", c, :checked => true %> <%= c %>
                <% else %>
                    <%= radio_button_tag "color", c %> <%= c %>
                <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :material_type %></td>
          <td><%= f.text_field :material_type %></td>
        </tr>
        <tr>
          <td><%= f.label :description %></td>
          <td><%= f.text_area :description %></td>
        </tr>
        <tr>
          <td>  <%= f.label :tag_list, "Tags (separated by commas)" %></td>
          <td> <%= f.text_field :tag_list %></td>
        </tr>
        <tr>
          <td colspan="2" style=" text-align:center"><%= f.submit %></td>

        </tr>

      </table>

      <br> <br>
      <%= link_to 'Back', admin_products_path %>    |
    </div>

<% end %>